<footer class="uc-footer">
    <div class="container pb-80">
      <div class="row" data-accordion>
        <div class="col-lg-4">
          <div class="mb-40">
            <a href="/">
              <img
                src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
                alt="Pontificia Universidad Católica de Chile"
                style="max-width: 240px"
                class="img-fluid"
              />
            </a>
            <p class="uc-subtitle subtitle-extended color-white mt-32">
              Biblioteca Escolar Futuro
            </p>
            <p class="my-24 mr-28">
                Av. Vicuña Mackenna 4860, Macul, Región Metropolitana. 
            </p>
            <div href="#">¿Cómo llegar?</div>
            <div class="mt-12">
                <div class="d-flex align-items-center">
                    <span class="material-icons footer__icons">
                        phone
                    </span>
                    <div class="ml-12">(56) 22354 2007</div>
                </div>
                <div class="d-flex  align-items-center mt-4">
                    <span class="material-icons footer__icons">
                        email
                    </span>
                    <div class="ml-12">bibliotecafuturo</div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h2>¿Necesitas ayuda?</h2>
          <app-preguntas-frecuentes></app-preguntas-frecuentes>
        </div>
        <div class="col-lg-3">
            <div class="uc-footer_list-title footer-collapse-title" data-collapse="footerNavExample01">
                © 2024 BEF UC - v1.0
            </div>
            <p>
                Este portal y sus contenidos están bajo una licencia de Creative Commons
                <a href="">Atribución-NoComercial-SinDerivadas 4.0 Internacional.</a>
            </p>
            <div class="d-flex justify-content-between mt-60">
              <img src="../../assets/iconos/facebook.svg" alt="Facebook" class="img-fluid" />
              <img src="../../assets/iconos/twitter.svg" alt="Twitter" class="img-fluid" />
              <img src="../../assets/iconos/youtube.svg" alt="Youtube" class="img-fluid" />
              <img src="../../assets/iconos/instagram.svg" alt="Instagram" class="img-fluid" />
              <img src="../../assets/iconos/email.svg" alt="Email" class="img-fluid" />
            </div>
        </div>
      </div>
    </div>
    <div id="uc-global-footer"></div>
  </footer>
  
