<!-- Cantidad de libros -->
<section class="libros__titulo">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-60">
          <h2 class="text-center d-flex justify-content-lg-start mb-12">Colecciones propias</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <div>
            <app-carrusel-libros [libros]="libros" [cantidadLibrosInicial1]="0" [cantidadLibrosFinal1]="3" [cantidadLibrosInicial2]="3" [cantidadLibrosFinal2]="6" [mostrarVerTodas]="true"></app-carrusel-libros>
          </div>
        </div>
      </div>
    </div>
  </section>
  