

<div class="app-carrusel-noticias">
  <div class="container p-0">
    <div class="uc-carousel uc-carousel__bef mb-80">
      <div class="uc-featured-carousel">
        <div class="slider-container" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
        
          <div class="item uc-card">
            @if(mostrarPrimerItem){
              <div class="row no-gutters h-full">
                <div class="col-lg-5 d-flex align-items-center">
                  <div class="uc-card_body--lg">
                    <div class="h3">{{ noticias[0].titulo }}</div>
                    <p class="mt-16">{{ noticias[0].introtext.slice(0, 100) + '...'  }}</p>
                    <div class="text-right mt-16">
                      <a (click)="verDetalle(noticias[0].id)" class="uc-link verdetallenew">Ver detalle</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none">
                    <div style="background: url('{{noticias[0]?.img}}') no-repeat center center; background-size: cover; top: 0; left: 0; width: 100%; height: 100%;"></div>
                  </div>
                </div>
              </div>
            }     
          </div>
        
          <div class="item uc-card">
            @if(mostrarSegundoItem){
              <div class="row no-gutters h-full">
                <div class="col-lg-5 d-flex align-items-center">
                  <div class="uc-card_body--lg">
                    <div class="h3">{{ noticias[1].titulo }}</div>
                    <p class="mt-16">{{ noticias[1].introtext.slice(0, 100) + '...'  }}</p>
                    <div class="text-right mt-16">
                      <a (click)="verDetalle(noticias[1].id)" class="uc-link verdetallenew">Ver detalle</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none">
                    <div style="background: url('{{noticias[1]?.img}}') no-repeat center center; background-size: cover; top: 0; left: 0; width: 100%; height: 100%;"></div>
                  </div>
                </div>
              </div>
            }
          </div>

          <div class="item uc-card">
            @if(mostrarTercerItem){
              <div class="row no-gutters h-full">
                <div class="col-lg-5 d-flex align-items-center">
                  <div class="uc-card_body--lg">
                    <div class="h3">{{ noticias[2].titulo }}</div>
                    <p class="mt-16">{{ noticias[2].introtext.slice(0, 50) + '...' }}</p>
                    <div class="text-right mt-16">
                      <a (click)="verDetalle(noticias[2].id)" class="uc-link verdetallenew">Ver detalle</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="uc-card card-bg--image card-gradient--bottom-blue card-shadow--none card-border--none card-radius--none">
                    <div style="background: url('{{noticias[2]?.img}}') no-repeat center center; background-size: cover; top: 0; left: 0; width: 100%; height: 100%;"></div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="uc-carousel-nav primary-carousel-nav">
        <div class="container">
          <div class="carousel-nav-container">
            <ul class="carousel-nav-list" id="carousel-featured-nav">
              <li class="carousel-nav-item" (click)="currentIndex = 0">
                <div class="number">01</div>
                <div class="indicator" [class.active]="currentIndex === 0"></div>
              </li>
              <li class="carousel-nav-item" (click)="currentIndex = 1">
                <div class="number">02</div>
                <div class="indicator" [class.active]="currentIndex === 1"></div>
              </li>
              <li class="carousel-nav-item" (click)="currentIndex = 2">
                <div class="number">03</div>
                <div class="indicator" [class.active]="currentIndex === 2"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

