
<!-- Breacumbs -->
<section class="mt-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="uc-breadcrumb">
                    <li class="uc-breadcrumb_item uc-breadcrumb_item__bef">
                      <a (click)="onHome()">Inicio</a>
                      <i class="uc-icon">keyboard_arrow_right</i>
                    </li>
                    <li class="uc-breadcrumb_item current">Recursos</li>
                  </ol>
            </div>
        </div>
    </div>
</section>

<!-- Buscador Component -->
<app-buscador [showBackground]="false" (clearSearch)="onClearSearch()"></app-buscador>

<!-- Resultados de búsqueda Libros-->
<section class="mt-60">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h3 class="mb-40">Publicaciones BEF</h3>
              <app-cards-recursos [libros]="libros"></app-cards-recursos>
          </div>
        </div>
      </div>
      <hr class="uc-hr" />
    </div>
</section>

  
  <!-- Resultado de busqueda materiales Educativos -->

  <section class="mt-60">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            @if(materialesEducativos.length > 0) {
              <h3>Recursos pedagógicos y juegos</h3>
                 <app-cards-materialesyjuegos [materialesEducativos]="materialesEducativos"></app-cards-materialesyjuegos>
            } @else {
              <p>No se encontraron resultados para materiales educativos.</p>
            }
          </div>
        </div>
      </div>
    </div>
  </section>