
/* Paginación */
.uc-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .uc-pagination button,
  .uc-pagination a {
    margin: 0 5px;
    padding: 10px 10px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .uc-pagination .active a {
    background: #007bff;
    color: #fff;
  }
  
  .uc-pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }