.uc-navbar.navbar-transparent {
    border-bottom: none;
    background: #fff;
}
.uc-navbar{
    box-shadow: none;
}
.nav-item.uc-navbar-dropdown{
    list-style: none;
}
.uc-navbar_nav.uc-navbar_nav_bef{
    justify-content: end;
    margin-top: 0;
}
.uc-navbar_nav_bef li {
    margin-right: 40px;
}

.uc-navbar_nav_bef li a {
    color: #707070;
    text-decoration: none;
}

.uc-navbar_nav_bef li span {
    color: #707070;
    font-size: 20px;
    margin-right: 3px;
}
.uc-header-denominacion-alpha__example-container {
    position: relative;
    min-height: 170px;
}
.logo_arrow span{
    font-size: 40px;
    color: white;
    margin-left: 15px;
}

  /* Medias Queries */
  @media (min-width: 992px) {
    .uc-header-denominacion-alpha__example-container {
      position: relative;
      min-height: 240px;
    }
  }