<!-- Header -->
<header class="uc-header">
    <div id="uc-global-topbar" class="uc-top-bar--bg-primary"></div>
    <nav class="uc-navbar navbar-transparent">
        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-lg-3 col-xl-2">
                    <div class="d-flex">
                        <a (click)="onHome()">
                            <img
                            src="assets/logo.svg"
                            alt="Logo BEF Digital"
                            class="img-fluid uc-logo-clic"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 d-flex align-items-center justify-content-end">
                    <ul class="uc-navbar_nav uc-navbar_nav_bef">
                        @for(item of itemHeader; track item.name){
                            <li class="d-flex mr-20 align-items-center">
                                <span class="material-icons">{{item.ico}}</span>
                                <a class="uc-navbar_nav_bef__a" [href]="item.url">{{item.name}}</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="uc-navbar_mobile d-block d-lg-none">
            <div class="uc-navbar_mobile-bar navbar-brand">
            <div class="uc-navbar_mobile-logo navbar-light">
                <div class="h2 text-font--serif color-white">BEF</div>
            </div>
            <a
                href="javascript:void(0);"
                class="uc-navbar_mobile-button"
                data-collapse="collapseMobileNav7"
            >
                <span class="uc-icon"></span>
                
            </a>
            </div>
            <div
            class="uc-navbar_mobile-content"
            data-toggle="collapseMobileNav7"
            data-open="false"
            style="height: 0"
            >
            <div class="uc-navbar_mobile-list">
                @for(item of itemHeader; track item.name){
                    <li class="d-flex mr-20">
                        <span class="material-icons">{{item.ico}}</span>
                        <a routerLink="/">{{item.name}}</a>
                    </li>
                }
            </div>
            </div>
        </div>
    </nav>
</header>
