<!-- Cantidad de materiales educativos -->
<section class="materiales_titulo mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-60">
               <h2 class="text-center d-flex justify-content-lg-start mb-12">Recursos pedagógicos y juegos</h2>
               <p>Material educativo diseñado para facilitar el proceso de enseñanza y aprendizaje de estudiantes y sus comunidades educativas. Incluye manuales, videos, metodologías y elementos lúdicos.</p>
                <div>
                    <app-carrusel-materiales [materialesEducativos]="materialesEducativos"></app-carrusel-materiales>
                </div>
            </div>
        </div>
    </div>
</section>

