@if(showBackground){
    <app-carrusel-noticias [noticias]="noticias" (emitirIdNoticia)="verDetalle($event)"></app-carrusel-noticias>

    <div class="uc-hero uc-hero_bef mb-40">
        <img class="uc-hero__bg-img uc-hero__bg-img__bef" src="assets/banner.jpg" alt="Dummy image" loading="lazy"/>
        
        <div class="uc-hero__content uc-hero__content_news uc-hero__content--center uc-hero__text--center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="uc-form-group">
                            <input id="ucsearch" [(ngModel)]="query" type="text" class="uc-input-style buscador" placeholder="Ingresar búsqueda" (keyup.enter)="onSearch()" />
                            <span class="material-icons buscador__lupa" (click)="onSearch()">search</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}  @else if(!showBackground) {
    <div class="uc-hero uc-hero_bef_inter">
        <div class="uc-hero__content uc-hero__content--center uc-hero__text--center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="uc-form-group">
                            <input id="ucsearch" [(ngModel)]="query" type="text" class="uc-input-style buscador" placeholder="Ingresar búsqueda" (keyup.enter)="onSearch()" (keyup)="onClearSearch()" />
                            <span class="material-icons buscador__lupa" (click)="onSearch()">search</span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
}
