.buscador{
    height: 70px;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
    font-size: 22px;
    padding-left: 30px;
}
.buscador__lupa{
    position: absolute;
    z-index: 999;
    top: 10%;
    right: 30px;
    color: #0176DE;
    font-size: 50px;
}
.buscador__selectodos{
    background-color: #F6F6F6;
    width: 120px;
    height: 59px;
    border-radius: 5px;
    font-size: 22px;
    position: absolute;
    z-index: 999;
    top: 8%;
    left: 1%;
}
.buscador__arrow{
    color: #C6C6C6;
    font-size: 35px;
    margin-left: 6px;
}

.buscador::placeholder {
    color: #183F8A;
    font-size: 22px;
}

.uc-hero__dark-gradient.uc_hero_bef{
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.39) 46.28%, rgba(0, 0, 0, 0.33) 100%)
}

.uc-hero.uc-hero_bef {
    height: 440px;
}
.uc-hero.uc-hero_bef_inter {
    height: 100px;
}
.uc-hero__bg-img.uc-hero__bg-img__bef{
    object-fit: none;
}
.uc-hero__content.uc-hero__content_news{
    position: absolute;
    width: 100%;
    top: 10%;
    align-items: end;
}

/* Carrusel noticias */

::ng-deep app-carrusel-noticias {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 380px;
  }
  
  ::ng-deep app-carrusel-noticias .uc-carousel.uc-carousel__bef {
    height: 380px;
  }
  
  ::ng-deep app-carrusel-noticias .carousel-img.carousel-img_bef {
    height: 380px;
    width: 100%;
  }
  
  ::ng-deep app-carrusel-noticias .uc-card.card-bg--image.card-gradient--bottom-blue.card-shadow--none.card-border--none.card-radius--none {
    height: 380px;
  }
  