
<div class="uc-hero">
    <img class="uc-hero__bg-img" src="assets/banner.jpg" alt="Dummy image" loading="lazy"/>
    <div class="uc-hero__dark-gradient uc_hero_bef"></div>
    <div class="uc-hero__content uc-hero__content--center uc-hero__text--center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="uc-form-group">
                        <input id="ucsearch" type="text" class="uc-input-style buscador" placeholder="Ingresar búsqueda" />
                        <a href="#" class="uc-btn btn-primary buscador__selectodos">
                            Todos
                            <span class="material-icons buscador__arrow">expand_more</span>
                        </a>
                        <span class="material-icons buscador__lupa">search</span>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>
  